body{
     color: rgb(32, 131, 109);

);
    -webkit-backgroud-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: rgb();
    margin: 100px;
}
h1{
    text-align: center;
    font-size: 90px;
    color: rgb(32, 131, 109);
}
a{
    color: rgb(32, 131, 109);
    font-size: 30px;
    text-decoration: none;
}
h2{
    color: rgb(211, 79, 17);
    color: rgb(251, 51, 51);kurwyyyyy na dźwigu
    color: rgb(32, 131, 109)
}
.container{
    padding-top: 200px;
}
