body{
    background-image: url(fantasy-niebo_90839-278\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 2000px 250px;
    color: #fff;
    font-family: 'Josefin Slab', Arial, sans-serif;
     color: rgb(211, 79, 17);
    -webkit-backgroud-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: rgb();
    margin: 100px;
}
    .bmenu li a:hover{ 
        color: rgb(25, 163, 67);
        padding-left: 10px;
    }
h1{
    text-align: center;
    font-size: 35px;
    color: rgb(211, 79, 17);
}
h2{
    text-align: center;
    font-size: 30px;
    color: rgb(211, 79, 17);
}
h3{
    text-align: center;
    font-size: 37px;
    color: black;
}
h4{
    text-align: center;
    font-size: 42px;
    color: black;
}
h5{
    text-align: center;
    font-size: 42px;
    color: black;
}
a{
    color: rgb(0, 74, 97);
    font-size: 30px;
    text-decoration: none;
}
h2{
    color: rgb(211, 79, 17);
}
.container{
    padding-top: 200px;
}
.kolumna{
    float: left;
    margin: 10px;
    width: 250px;
    height: 130px;
    font-size: 19px;
}
.kolumna1{
    float: left;
    margin: 11px;
    width: 250px;
    height: 300px;
    font-size: 19px;
}
.kolumna2{
    float: left;
    font-size: 15px;
    margin: 11px;
    width: 250px;
    height: 150px;
    font-size: 19px;
}
.kolumna3{
    float: left;
    margin: 11px;
    width: 250px;
    height: 150px;
    font-size: 19px;
}
.kolumna4{
    float: left;
    margin: 11px;
    width: 250px;
    height: 185px;
    font-size: 19px;
}
.bmenu li a{
    font-size: 17px;
}
.columna1{
    float: left;
    margin: 10px;
    width: 250px;
    height: 215px;
    font-size: 19px;
}
.columna{
    float: left;
    margin: 10px;
    width: 250px;
    height: 130px;
    font-size: 19px;
}
.cmenu li a{
    font-size: 17px;
}

.wrapper{
    max-width: 150px;
    margin: 50px auto;
}

.wrapper .search-input{
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
    height: 40px;
    width: 150%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0)
}

.search-input .icon{
    height: 0px;
    width: 0px;
    line-height: 0px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 0px;
    color: #644bff;
    cursor: pointer;

}

.search-input .autocom-box{
    padding: 0px;
    max-height: 150px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}
.search-input.active .autocom-box li{
    display: block;
}

.autocom-box li:hover{
    background: #efefef; 

}